%script(type="text/x-handlebars")
	%header.fixed
		.row.hide-for-small
			.small-12.large-6.columns.logo
				= hb "link-to 'vehicles'" do
					= image_tag "logo.png"
			.small-12.large-6.columns.filters
				.row
					.small-12.large-3.columns.heading
						%span Condition
					.small-12.large-3.columns
						%button.filter.active{ _action: "setConditionFilter 'BOTH'" } Both
					.small-12.large-3.columns
						%button.filter{ _action: "setConditionFilter 'NEW'" } New
					.small-12.large-3.columns
						%button.filter{ _action: "setConditionFilter 'USED'" } Used
				.row
					.small-12.large-3.columns.heading
						%span Passengers
					.small-12.large-9.columns.passengers
						%button.passenger_select.filter.active{ _action: "setPassengers 'ALL'" } All
						%button.passenger_select.filter{ _action: "setPassengers 2" } 2
						%button.passenger_select.filter{ _action: "setPassengers 4" } 4
						%button.passenger_select.filter{ _action: "setPassengers 5" } 5
						%button.passenger_select.filter{ _action: "setPassengers 7" } 7
				.row
					.small-12.large-3.columns.heading
						%span Budget
					.small-12.large-9.columns.budget_filter
						%span.low $10,000
						= hb "input type='range' min=1000 max=5000 valueBinding='maxPrice'"
						%span.high $50,000
		.row.show-for-small#small_header
			.small-12.large-6.columns.mobile_header_container
				.row.mobile_header
					.small-9.columns
						= hb "link-to 'vehicles'" do
							%h1 ROST MOTER INC
					.small-3.columns
						.menu_link= image_tag "menu.png"
			.small-12.large-6.columns.filters.mobile_nav(style='display:none;')
				.row
					.small-12.columns.heading Condition
					.small-4.columns
						%button.filter.active{ _action: "setConditionFilter 'BOTH'" } Both
					.small-4.columns
						%button.filter{ _action: "setConditionFilter 'NEW'" } New
					.small-4.columns
						%button.filter{ _action: "setConditionFilter 'USED'" } Used
				.row
					.small-12.columns.heading Passengers
					.small-12.large-9.columns.passengers
						%button.passenger_select.filter.active{ _action: "setPassengers 'ALL'" } All
						%button.passenger_select.filter{ _action: "setPassengers 2" } 2
						%button.passenger_select.filter{ _action: "setPassengers 4" } 4
						%button.passenger_select.filter{ _action: "setPassengers 5" } 5
						%button.passenger_select.filter{ _action: "setPassengers 7" } 7
				.row
					.small-12.columns.heading Budget
					.small-12.columns.budget_filter
						%span.low $10,000
						= hb "input type='range' min=1000 max=5000 valueBinding='maxPrice'"
						%span.high $50,000
					
	%main
		.row
			.small-12.columns.main_content_container
				{{outlet}}

	%footer.custom_fixed
		.row
			.small-12.columns
				%a(href='https://www.facebook.com/rostmotors')
					.link= image_tag "facebook.png"
				%a(href='https://www.twitter.com/rostmotor')
					.link= image_tag "twitter.png"
				%a(href="https://www.google.com/maps/place/1109+10th+Ave/@42.5287409,-94.535112,17z/data=!3m1!4b1!4m2!3m1!1s0x87f2836f14be18ff:0x224dabad34ecf597" target="_blank")
					.link= image_tag "map.png"
				%a(href="tel:7124693383")
					.link= image_tag "phone.png"

%script(type='text/x-handlebars' data-template-name='vehicles')
	.row
		.small-12.columns.back_link
			%a(href="http://rostmotor.com")= "<< Back To Site"
	= hb 'each vehicle in controller.filteredContent' do
		= hb 'if isStartOfRow cols=2' do
			<div class="row">
		= hb "link-to 'vehicle' vehicle.id" do
			.small-12.large-4.columns.left
				.vehicle_index_instance
					.make_model= hb 'vehicle.makeModel'
					.photo
						%img.main_image{ bind: {src: "vehicle.top_photo_url"} }
					.new_used
						.inner{bind: {class: 'vehicle.is_used:used:new'}}= hb 'vehicle.condition_string'
					.msrp.text= hb 'vehicle.msrpAsDollar'
					.price.text= hb 'vehicle.priceAsDollar'
					.sopy.text= render "shared/trunc_copy"
		= hb 'if isEndOfRow cols=2' do
			</div>

%script(type='text/x-handlebars' data-template-name='vehicle')
	= hb 'each photo in vehicle_photos' do
		%gallery_image{ bind: {src: "photo.large_url", rstmb: "photo.thumb_url" }} 
	.row.vehicle_show
		.row
			.small-12.columns.back_link
				%a(href="/#")= "<< Back To Vehicles"
		.small-12.large-8.columns
			.row
				.small-12.columns
					.photo_gallery
						.royalSlider.rsDefault
		.small-12.large-4.columns.vehicle_show_details
			.title= hb 'makeModel'
			.text= hb 'new_used_string'
			.text= hb 'mileage_string'
			.text= hb 'stock_number_string'
			.text= hb 'vin_string'
			.text= hb 'color_string'
			.text= hb 'passenger_string'
			.text= hb 'pkg_string'
			.price= hb 'priceAsDollarSikpPrefix'
	.row
		.small-12.columns	
			%p= render "shared/full_copy"

